<div class='social-page'>
    <h1>
    <a href="https://www.instagram.com/katyjane8/">INSTAGRAM</a>
    </h1>
    <h1>
    <a href="https://www.facebook.com/kathrine.welyczko">FACEBOOK</a>
    </h1>
    <h1>
    <a href="https://twitter.com/katyjane8?lang=en/">TWITTER</a>
    </h1>
</div>