@import url("https://fonts.googleapis.com/css?family=Merriweather|Libre+Baskerville");
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";

body {
  background-color: #d7f4e6;
  font-family: "Libre Baskerville", serif;
}

.app {
  display: flex;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav {
  display: flex;
  flex-direction: row-reverse;
  background-color: #808080;
  padding-right: 20px;
  margin-bottom: 60px;
  a {
    background-color: #808080;
    font-family: "Libre Baskerville", serif;
  }
}

ul {
  margin-left: 0%;
  font-family: "Merriweather", serif;
}

a {
  text-decoration: none;
  color: white;
  padding: 10px;
  background: pink;
}

a:hover {
  background: pink;
  color: black;
}

.text-js {
  opacity: 0;
}

.cursor {
  align-self: center;
  display: block;
  position: absolute;
  height: 90%;
  top: 0;
  right: -5px;
  width: 2px;
  background-color: white;
  z-index: 1;
  animation: blink 0.5s none infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.resume {
  display: grid;
  font-family: "Libre Baskerville", serif;
  margin: 50px;
  border-bottom: dotted 1px;
  h2 {
    background-color: pink;
  }
  a {
    background-color: grey;
  }
}

.resume-wrapper {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 1em;
}

.col-1 {
  align-items: flex-start;
}

.col-2 {
  align-items: flex-end;
}

.social-page {
  h1 {
    text-align: center;
    margin: 50px;
    font-size: 3em;
  }
  a {
    border-radius: 25px;
    margin: 20px;
  }
}
