<!DOCTYPE html>
<html>
  <head>
    <title>katywelyczko</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>
  <body class="has-background-primary-light">
    <div class="tabs has-background-primary is-centered m-0">
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/resume">resume</a></li>
        <li><a href="/social">social</a></li>
        <li><a href="https://github.com/katyjane8" target="_blank">github</a></li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
